.reg-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    background: rgb(240, 237, 237);
    padding-bottom: 10px;
}
.reg-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:9px;
    width: 100%;
    margin-top: 20px;
}
.text{
    color: rgb(35, 35, 56);
    font-size: 40px;
    font-weight: 700;

}
.underline{
    width: 61px;
    height: 6px;
    background: rgb(34, 34, 63);
    border-radius: 9px;

}
.reg-input img{
    margin: 15px;
    height: 15px;
    width: 15px;
}
.reg-inputs{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reg-input {
display: flex;
align-items: center;
margin: auto;
width: 400px;
height: 40px;
background: rgb(207, 231, 230);
}

.reg-input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(5, 5, 5);
    font-size: 19px;

}

.reg-forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: rgb(78, 20, 154);    
    font-size: 18px;
}
.reg-forgot-password span{
    color: rgb(24, 24, 24);
    cursor: pointer;
}
.reg-submit-container{
    display: flex;
    gap: 30px;
    margin: 30px auto;

}
.reg-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 39px;
    color: aliceblue;
    background: rgb(53, 53, 82);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.alt-login{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
   
}
.alt-login div{
    width: 10%;
    height: 90%;
    border-radius: 22px;
    background-color: rgb(251, 243, 243);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 3px;
}
.google{
    background-image:url('../../assets/google.png') ;
}
.or{
    margin-left:21px;
}

.error{
    margin-left:60px;
    color: red;
    font-weight: 900;
    margin-top: -15px;
}


/* Media query for smaller screens */
@media (max-width: 480px) {
  .reg-container {
    width: 90%; /* Adjust width for smaller screens */
  }

  .reg-input {
    width: 100%; /* Make the input container full-width */
  }

  .reg-input input {
    width: 100%; /* Make the input width 100% for smaller screens */
  }

  .reg-submit-container {
    flex-direction: column; /* Stack submit buttons vertically on smaller screens */
    align-items: center;
  }

  .alt-login div {
    width: 20%; /* Adjust width for smaller screens */
  }
}