body {
    background-image: url('D:/Main project/frontend/cirs/src/pages/report/bg4.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
